Makefile
autom4te.cache/
config.log
config.status
configure~
libmpg123.pc
libout123.pc
libsyn123.pc
libtool
src/.deps/
src/.dirstamp
src/audio.o
src/common.o
src/compat/.deps/
src/compat/.dirstamp
src/compat/.libs/
src/compat/compat.lo
src/compat/compat.o
src/compat/compat_dl.lo
src/compat/compat_dl.o
src/compat/compat_str.lo
src/compat/compat_str.o
src/compat/libcompat.la
src/compat/libcompat_dl.la
src/compat/libcompat_str.la
src/config.h
src/control_generic.o
src/equalizer.o
src/filters.o
src/genre.o
src/getlopt.o
src/httpget.o
src/libmpg123/.deps/
src/libmpg123/.dirstamp
src/libmpg123/.libs/
src/libmpg123/dct36_avx.lo
src/libmpg123/dct36_avx.o
src/libmpg123/dct36_x86_64.lo
src/libmpg123/dct36_x86_64.o
src/libmpg123/dct64_avx_float.lo
src/libmpg123/dct64_avx_float.o
src/libmpg123/dct64_x86_64_float.lo
src/libmpg123/dct64_x86_64_float.o
src/libmpg123/getcpuflags_x86_64.lo
src/libmpg123/getcpuflags_x86_64.o
src/libmpg123/libmpg123.la
src/libmpg123/libmpg123_la-dct64.lo
src/libmpg123/libmpg123_la-dct64.o
src/libmpg123/libmpg123_la-dither.lo
src/libmpg123/libmpg123_la-dither.o
src/libmpg123/libmpg123_la-equalizer.lo
src/libmpg123/libmpg123_la-equalizer.o
src/libmpg123/libmpg123_la-feature.lo
src/libmpg123/libmpg123_la-feature.o
src/libmpg123/libmpg123_la-format.lo
src/libmpg123/libmpg123_la-format.o
src/libmpg123/libmpg123_la-frame.lo
src/libmpg123/libmpg123_la-frame.o
src/libmpg123/libmpg123_la-icy.lo
src/libmpg123/libmpg123_la-icy.o
src/libmpg123/libmpg123_la-icy2utf8.lo
src/libmpg123/libmpg123_la-icy2utf8.o
src/libmpg123/libmpg123_la-id3.lo
src/libmpg123/libmpg123_la-id3.o
src/libmpg123/libmpg123_la-index.lo
src/libmpg123/libmpg123_la-index.o
src/libmpg123/libmpg123_la-layer1.lo
src/libmpg123/libmpg123_la-layer1.o
src/libmpg123/libmpg123_la-layer2.lo
src/libmpg123/libmpg123_la-layer2.o
src/libmpg123/libmpg123_la-layer3.lo
src/libmpg123/libmpg123_la-layer3.o
src/libmpg123/libmpg123_la-lfs_wrap.lo
src/libmpg123/libmpg123_la-lfs_wrap.o
src/libmpg123/libmpg123_la-libmpg123.lo
src/libmpg123/libmpg123_la-libmpg123.o
src/libmpg123/libmpg123_la-ntom.lo
src/libmpg123/libmpg123_la-ntom.o
src/libmpg123/libmpg123_la-optimize.lo
src/libmpg123/libmpg123_la-optimize.o
src/libmpg123/libmpg123_la-parse.lo
src/libmpg123/libmpg123_la-parse.o
src/libmpg123/libmpg123_la-readers.lo
src/libmpg123/libmpg123_la-readers.o
src/libmpg123/libmpg123_la-stringbuf.lo
src/libmpg123/libmpg123_la-stringbuf.o
src/libmpg123/libmpg123_la-synth.lo
src/libmpg123/libmpg123_la-synth.o
src/libmpg123/libmpg123_la-synth_8bit.lo
src/libmpg123/libmpg123_la-synth_8bit.o
src/libmpg123/libmpg123_la-synth_real.lo
src/libmpg123/libmpg123_la-synth_real.o
src/libmpg123/libmpg123_la-synth_s32.lo
src/libmpg123/libmpg123_la-synth_s32.o
src/libmpg123/libmpg123_la-tabinit.lo
src/libmpg123/libmpg123_la-tabinit.o
src/libmpg123/synth_stereo_avx_accurate.lo
src/libmpg123/synth_stereo_avx_accurate.o
src/libmpg123/synth_stereo_avx_float.lo
src/libmpg123/synth_stereo_avx_float.o
src/libmpg123/synth_stereo_avx_s32.lo
src/libmpg123/synth_stereo_avx_s32.o
src/libmpg123/synth_stereo_x86_64_accurate.lo
src/libmpg123/synth_stereo_x86_64_accurate.o
src/libmpg123/synth_stereo_x86_64_float.lo
src/libmpg123/synth_stereo_x86_64_float.o
src/libmpg123/synth_stereo_x86_64_s32.lo
src/libmpg123/synth_stereo_x86_64_s32.o
src/libmpg123/synth_x86_64_accurate.lo
src/libmpg123/synth_x86_64_accurate.o
src/libmpg123/synth_x86_64_float.lo
src/libmpg123/synth_x86_64_float.o
src/libmpg123/synth_x86_64_s32.lo
src/libmpg123/synth_x86_64_s32.o
src/libout123/.deps/
src/libout123/.dirstamp
src/libout123/.libs/
src/libout123/legacy_module.lo
src/libout123/legacy_module.o
src/libout123/libmodule.la
src/libout123/libout123.la
src/libout123/libout123_la-buffer.lo
src/libout123/libout123_la-buffer.o
src/libout123/libout123_la-hextxt.lo
src/libout123/libout123_la-hextxt.o
src/libout123/libout123_la-libout123.lo
src/libout123/libout123_la-libout123.o
src/libout123/libout123_la-stringlists.lo
src/libout123/libout123_la-stringlists.o
src/libout123/libout123_la-wav.lo
src/libout123/libout123_la-wav.o
src/libout123/libout123_la-xfermem.lo
src/libout123/libout123_la-xfermem.o
src/libout123/modules/.deps/
src/libout123/modules/.dirstamp
src/libout123/modules/.libs/
src/libout123/modules/libdefaultmodule.la
src/libout123/modules/libdefaultmodule_la-pulse.lo
src/libout123/modules/libdefaultmodule_la-pulse.o
src/libsyn123/.deps/
src/libsyn123/.dirstamp
src/libsyn123/.libs/
src/libsyn123/libsyn123.la
src/libsyn123/libsyn123_la-filter.lo
src/libsyn123/libsyn123_la-filter.o
src/libsyn123/libsyn123_la-geiger.lo
src/libsyn123/libsyn123_la-geiger.o
src/libsyn123/libsyn123_la-libsyn123.lo
src/libsyn123/libsyn123_la-libsyn123.o
src/libsyn123/libsyn123_la-pinknoise.lo
src/libsyn123/libsyn123_la-pinknoise.o
src/libsyn123/libsyn123_la-resample.lo
src/libsyn123/libsyn123_la-resample.o
src/libsyn123/libsyn123_la-sampleconv.lo
src/libsyn123/libsyn123_la-sampleconv.o
src/libsyn123/libsyn123_la-volume.lo
src/libsyn123/libsyn123_la-volume.o
src/local.o
src/metaprint.o
src/mpg123
src/mpg123-id3dump
src/mpg123-id3dump.o
src/mpg123-strip
src/mpg123-strip.o
src/mpg123.o
src/net123_exec.o
src/out123
src/out123.o
src/playlist.o
src/resolver.o
src/stamp-h1
src/streamdump.o
src/sysutil.o
src/term.o
src/term_posix.o
src/tests/.deps/
